<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="3"
    android:versionName="1.33.0003">


    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" tools:targetApi="s"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />



    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <application
        android:name="kr.neolab.samplecode.SampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_n"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="kr.neolab.samplecode.MainActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:label="@string/app_name" android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="kr.neolab.samplecode.DeviceListActivity"></activity>
        <activity android:name="kr.neolab.samplecode.SettingActivity"></activity>
        <activity android:name="kr.neolab.samplecode.ProfileTestActivity"></activity>

        <service android:name="kr.neolab.samplecode.NeoSampleService"></service>


        <activity android:name="kr.neolab.samplecode.DetectUsbAttachActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            tools:ignore="WrongManifestParent">

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
                android:resource="@xml/device_filter" />
        </activity>


    </application>

</manifest>
