<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.neolab.sdk"
    android:versionCode="16"
    android:versionName="2.25" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    -->
    <!--  http://stackoverflow.com/questions/3442800/android-bluetooth-software-caused-connection-abort-ioexception  -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- add for ble -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="32"/>
    
    <!--  http://stackoverflow.com/questions/11240767/android-bluetooth-service-program-i-wrote-crashes -->
    <uses-feature android:name="android.hardware.bluetooth" />
    <!-- add for ble -->
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <application
        android:allowBackup="true" >
        <!-- add for ble -->
    </application>

</manifest>
